/*********************** COLOR PALETTE *******************************/
$alert-color: red;
$warning-color: yellow;
$header-color:#FBFBFB;
$header-link-hover-color:#C03D12;
$header-bg-color:#051522;
$body-bg-color: #F4F4F4;
$body-color:#585858;
$h-color:#0B0F08;
$footer-bg-color: #202121;

/*********************** GLOBAL STYLE *******************************/
html {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana,Geneva,sans-serif;
  line-height: 20px;
  color: $body-color;
  background-color: $body-bg-color;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: $h-color;
}

/*********************** HEADER STYLE *******************************/
header{
  width:100%;
  height:100%;
  background: $header-bg-color url(../img/index_header_bg.jpg) fixed center;
  background-size: cover;
  color: $header-color;
  overflow: hidden;

  h1{
    width:15em;
    color: $header-color;
    margin: 1em auto;
  }

  nav.top-link{
    float:right;
    margin-right: 1em;
    margin-top: 0.5em;

    a {
      text-decoration: none;
      color: $header-color;

      &:hover{
        cursor: pointer;
        color: $header-link-hover-color;
      }
    }


  }
}
/*********************** MAIN STYLE *******************************/
.main-content {
  margin:2em;
}
/*********************** FOOTER STYLE *******************************/

footer {
  background-color: $footer-bg-color;
}

@mixin message {
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  padding: 1em;
}

article {
  border-right: solid 0.2em red;

  h1 {

  }

  p {
    margin: 1em 0;
  }
}

.message {
  &.alert {
    @include message;
    border-color: $alert-color;
  }

  &.warning {
    @include message;
    border-color: $warning-color;
  }
}

