.result {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 1em;
}

.combination {
    border-bottom: 1px solid blue;
}

.result p {
    font-weight: bold;
}

body {
	background-color: #fff;
	padding: 2em;
	padding-top: 0.5em;
	font-family: "klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
}

p {
	background-color: rgb(6,86,142);
	font-size: 1.1em;
	color: #ede;
	margin: 0;
	padding: 0.2em;
}

body > div {
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #eeefee;
}

pre {
	font-family: "Courier New", Courier, monospace;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1em;
}

.start {
	margin-top: 1.5em;
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
}

.end {
	margin-bottom: 0.5em;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em; 
}